/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
body {
  font-family:  "Roboto", sans-serif;;
  margin: 0;
  padding: 0;
  background-color: #EFE6E6;
  color: #333;
}

h1{
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #75afe6;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header h1, header p {
  font-family: 'Anton', sans-serif;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.intro {
  text-align: center;
  padding: 40px 0;
}

.intro h2 {
  font-size: 50px;
  color: #4287f5;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text p {
  font-size: 18px;
  color: #888;
}

.profile-text h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

/* Projects Section */
/* Projects Section */
.projects {
  background-color: #eee;
  padding: 40px 20px;
  text-align: center;
}

.projects h3 {
  font-family: 'roboto',sans-serif;
  font-size: 36px;
  color: #f5b942;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.project {
  width: 100%;
  flex-shrink: 0;
}

.project img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.project-type {
  color: #f5b942;
  font-size: 16px;
  margin-top: 10px;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Carousel Controls */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 100;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}


/* Education Section */
.education {
  padding: 40px 20px;
  text-align: center;
}

.education h1 {
  font-size: 36px;
  color: #4287f5;
}

.education ul {
  list-style: none;
  padding: 0;
}

.education li {
  font-size: 18px;
  margin-bottom: 10px;
}

.education span {
  font-weight: bold;
}

/* Skills Section */
.skills {
  padding: 40px 20px;
  text-align: center;
}

.skills h3 {
  font-size: 36px;
  color: #4287f5;
}

.skill-icon {
  width: 50px;
  margin-top: 20px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5eceb;
  color: #333;
}

footer .social-icons img {
  width: 30px;
  margin-right: 10px;
}
